.basketListAction {
  background-color: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.checkMarkContainer > p {
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  margin: 0;
}

.basketListAction > span {
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  opacity: 0.5;
}
