.staticServicesContainer {
    padding: 20px;
    background-color: #FF9414;
    border-radius: 8px;
    margin-bottom: 40px;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .gridItem {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: start; /* Align items to the start (left) */
    text-align: left; /* Align text to the left */
  }
  
  .iconContainer {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .staticServicesContainer h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    margin: 0;
    color: #fff;
  }
  
  .staticServicesContainer p {
    font-size: 16px;
    font-weight: 600;
    line-height: 24.4px;
    opacity: 0.7;
    margin: 0;
    color: #fff;
  }