.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}

.pagination button {
  border: none;
  border-radius: 8px;
  background-color: #fff;
  width: 48px;
  height: 48px;
}

.pagination .pageNumbers {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.active {
  color: #ff9414 !important;
  border-bottom: 4px solid #ff9414 !important;
}

.pagination > span {
  border: none;
  border-radius: 8px;
  background-color: #fff;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
