.accordion{
  width: 100%;
}

.accordionButton{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  border-bottom: 1px solid black;
  border: none;
  padding: 15px;
}

.accordionButton > span{
  font-size: 30px;
}