.productPageSlider {
  display: flex;
  gap: 128px;
}

.thumbnailList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 400px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.thumbnailList::-webkit-scrollbar {
  display: none;
}

.thumbnail {
  width: 100px;
  padding: 2px 21px;
  border-radius: 8px;
  cursor: pointer;
}

.thumbnail.active {
  border: 2px solid #ff9414;
}

.mainDisplay {
  position: relative;
  display: flex;
  align-items: center;
}

.mainImage {
  max-width: 500px;
  max-height: 400px;
}

.prevButton,
.nextButton {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f4f4f8;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.prevButton {
  left: -80px;
}

.nextButton {
  right: -80px;
}
