.brandLogosSection {
}

.brandLogosContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}


@media (max-width: 1200px) {
  .brandLogosContainer {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
  }

  .brandLogosContainer::-webkit-scrollbar {
    display: none; /* Hide scrollbar for a cleaner look (optional) */
  }

}

/* Optional: Hide scrollbar in Firefox */
.brandLogosContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}