.filterLayout {
  display: flex;
  gap: 20px;
}

.filtersSidebar {
  width: 250px;
  height: fit-content;
  border-radius: 8px; 
  background: #fff;
}

.productListing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 8px;
  flex-grow: 1;
}
