* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Involve", sans-serif;
  background-color: #f4f4f8;
}

@media (max-width: 670px){
  .container{
    max-width: 600px;
  }
}